<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <title>Django blog</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
  </head>
  <body>
    <header>
      <ul>
        <li><a href="{% url 'home' %}">Мой блог</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
        <li><a href="{% url 'login' %}">Войти</a></li>
      </ul>


    </header>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>