<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.body }}</p>
    <br>
    <p class="date">{{ object.author }}</p>
    <p class="date">{{ object.time_create }}</p>
  </div>
  {% if user.id == 1 %}
  <a href='{% url 'post_edit' post.pk %}'>Редактировать</a>
  <a style="color: red;" href="{% url 'post_delete' post.pk %}">Удалить</a>
  {% else %}
  <b>Редактировать и удалять посты могут только модераторы</b>

  {% endif %}
{% endblock content %}